<!DOCTYPE html> 
<html> 
    <head>
        <meta charset='utf-8'> 
        <link rel='stylesheet' href='{{ url_for("static", filename="add_item_style.css") }}'>'
    </head>

    <body>
        <form method='POST'> 
            <label for='activity'>Activity: </label>
            <input type='text' name='activity' required><br><br>
            <label for='footprint'>Carbon Footprint: </label>
            <input type='number' name='footprint' required><br><br>
            <label for='notes'>Notes: </label>
            <textarea name='notes'></textarea><br><br>

            <input type='submit' value='Add New Log'>
        </form>

        
        
    </body>

</html>