<!DOCTYPE html> 
<html> 
<head>
    <meta charset='utf-8'>
    <title>Carbon Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Carbon Footprint Counter</h1>
    <div class="tip-block">
        <h2>Daily Tip to Reduce Carbon Footprint:</h2>
        <p>{{ tip }}</p>
    </div>
    <div class="date-container">
        <form action='{{ url_for("before_date") }}' method='GET'> 
            <button type="submit">Before Date</button>
        </form>

        <div class="date-info">
            <p>Current Date: {{ today }} </p>
            <p>Selected Date: {{ formatted_date }}</p>
        </div>
        
        <form action='{{ url_for("add_date") }}' method='GET'> 
            <button type="submit">Next Date</button>
        </form>
    </div>

    {% for log in logs[formatted_date] %}
        <div class="log-item">
            <p><strong>Activity:</strong> {{ log[0] }}</p>
            <p><strong>Carbon Footprint:</strong> {{ log[1] }}</p>
            <p><strong>Notes:</strong> {{ log[2] }}</p>
        </div>
       
    {% endfor %}
    <hr>

    <div class="button-container">
        <a href="{{ url_for('add_item') }}">Add New Log</a>
        <form action="{{ url_for ('delete_log')}}" method="GET" style="display: inline;">
            <button  name="delete" type="submit">Delete last log</button>   
        </form>
    </div>




    <button class='centered-link' id='openDialog'>Summarise Logs</button>
    
    
    <dialog id='summarisedDialog'>
        <h1>Summarised Logs: </h1>
        <p>Your total calculated Carbon Footprint of the Day is {{ total_footprint }} kg</p>
        {% if total_footprint < average_log %}
            <p>You have used {{ log_diff }} kg less than the Singapore Average Carbon Footprint of {{ average_log }} kg</p>
        {% else %}
            <p>You have used {{ log_diff }} kg more than the Singapore Average Carbon Footprint of {{ average_log }} kg</p>
        {% endif %}
        <button id='closeDialog'>Close</button>
    </dialog>
    <hr>
    
    <form action="{{ url_for('logout') }}" method="POST">
        <input id='logout' type='submit' value='Log Out'>
    </form>

    
    <script src="{{ url_for('static', filename='src.js') }}"></script>
</body>
</html>
