<!DOCTYPE html> 
<html> 
    <head>
        <meta charset='utf-8'>
        <title>Carbon Counter</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
    </head>

    <body>
        <h1>Carbon Footprint Counter</h1>
        <p>Current Date: {{ today }} </p>
        {% for log in logs %}
            <ul> 
                <li>Activity: {{ log[1] }}</li>
                <li>Carbon Footprint: {{ log [2] }}</li>
                <li>Notes: {{ log[3] }}</li>
                
            </ul>
        <hr>
        {% endfor %}
        <a href="{{ url_for('add_item') }}">Add New Log</a>
        
        <hr>
        <h2>Daily Tip to reduce Carbon Footprint:</h2>
        <ul>
            {% for tip in tips %}
                <li>{{ tip }}</li>
            {% endfor %}
        </ul>
    </body>

</html>